<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>List of Books</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Book Id</th>
          <th>Issue Date</th>
          <th>Due Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- <ng-container *ngFor="let i of borrowed"> -->
          <tr *ngFor="let i of borrowed">
            <td>{{i.bookId}}</td>
            <td>{{i.issueDate}}</td>
            <td>{{i.dueDate}}</td>
            <td style="width: 73%;">
              <button style="margin-right: 12px;" class="btn btn-warning" (click)="returnBook(i.id)">Return</button>
              <button class="btn btn-primary" style="margin-left: 4%;" (click)="showBookDetails(i.bookId)">Details</button>
            </td>
          </tr>
        <!-- </ng-container> -->
      </tbody>
    </table>
  </div>
  <div>
    <button class="btn btn-info" (click)="backToDash()">Back to Dashboard</button>
  </div>
</div>

